/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
 
/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
 
table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul {
    list-style: disc;
    padding: 0 0 0 20px;
}


a {
    color: #1d745A;
    
    
    
}


 
a.to_nav {
    float: right;
    color: white;
    background-color:black;
    text-decoration: none;
    padding: 0 .2cm;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.4em;
    height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
}
 
a.to_nav:hover,
a.to_nav:focus {
    color: black;
    background: orange;
}

#home{
    background-color:#33CCff;
    
    
}

#title{
    font-family: inherit;
    font-size:5em; /* adjust text size when small screen */
    color:white;
    display:inline-block;
    margin-top: 3cm;
    text-align: center;
}
#welcome {
    display:inline-block;
    padding:1cm;
    margin:1cm 3cm;
    color:white;
    background-color:;
    max-width: 40em;
    font-family:inherit;
}


#copyright{
   
    float: right;
    font-size: .8em;
    margin-top:14cm;
}

#main_nav ul{
    background-color:black;
    list-style: inherit;
    padding:5px 0;

    
}

#main_nav li{
    display:block;
    padding: 0 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 2em;
    height:2em;
    border-bottom: 1px solid black;
    

}

#main_nav a{
    display:inline-block;
    text-decoration: none;
    color:white;
}

#main_nav li a:hover,#pmain_nav li a:focus{
    color:black;
    background:orange;
}

#newletter{
    margin-bottom:1em;
    font-family:sans-serif;
    color:white;
}

#subscribe{
    background-color:orange;
}

#text1{
    font:white;
}

#golden{
    background-color:black;
    padding-top:.2em;
    padding-bottom:.2em;
    display:none;
}

h2 {
    max-width:40em;
}
p {
    max-width: 35em; /*made adjustment to keep font size same*/
    text-align: center;
}
@media only screen and (min-width: 768px) {
    
    a.to_nav{
        display:none;
    }
    
    .wrapper{
        position: relative;
        margin:auto;
        width:768px
    }

    
    #bottom{
        background:black;
    }
    
    #main_nav{
        position: absolute;
        top:5px;
        right:1em;
        left:1em;
        background:none;
    }
    
    #main_nav li{
        display:inline;
    }
    
    #main_nav li a{
        
        float:left;
        border: none;
        padding: 0 10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    
    #title{
        font-size-adjust: auto;
       
    }
    #newletter{
    color:white;
    
    
    
    
}

    #news{
    padding-bottom: .5em;
    }

    #subscribe{
        margin-right:18em;
        
    }

    #golden{
    background-color:black;
    padding-top:.2em;
    padding-bottom:.2em;
    display:inline;    
}
    #welcome{
        text-align: justify;
    }
}

